.chat-list--item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.1s;
  cursor: pointer;

  &:hover {
    background: rgba(0, 0, 0, 0.05);
  }

  &--info {
    margin-left: 15px;

    &__header {
      font-weight: 700;
    }

    &__footer {
      margin-top: 5px;
      display: flex;
      font-weight: 350;

      &--latest-message {
        margin-right: 10px;
      }

      &--time {
        margin: 0;
      }
    }
  }
}
