@import "../../mixin.scss";

.left-navbar {
  display: flex;
  align-items: center;
  position: relative;

  &--logo {
    width: 40px;
    height: 40px;
    margin: 5px 10px;
  }

  &--search {
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    width: 100%;
    height: fit-content;
    max-height: 50vh;
    padding: 10px;
    box-shadow: 2px 10px 5px rgba(0, 0, 0, 0.3);

    &__link {
      text-decoration: none;
      color: black;
    }
  }
}

.main-navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &--item {
    padding: 10px 40px;
    border-radius: 5px;

    &.active {
      border-bottom: 4px solid blue;
    }

    &:hover {
      background-color: #dadada;
      cursor: pointer;
    }

    @include respond("lg") {
      display: none;
    }
  }
}

.right-navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;

  &--item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    background-color: #dadada;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;

    i {
      font-size: 20px;
    }

    &:hover {
      background-color: #ccc;
    }
  }
}
