@import "../../mixin.scss";

.modal--body {
  width: 500px;
  height: fit-content;
  max-height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 5px;
  animation: scaleIn 0.5s ease-out;

  @include respond("sm") {
    width: 90vw;
  }

  &--header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
    user-select: none;

    &--close-button {
      position: absolute;
      right: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #e2e5e9;
      color: #6a7079;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      user-select: none;

      &:hover {
        background-color: #ccc;
        cursor: pointer;
      }
    }
  }

  &--info {
    margin-top: 10px;
    margin-left: 15px;
    display: flex;
    align-items: center;

    &__detail {
      display: flex;
      flex-direction: column;
      margin-left: 10px;
    }
  }

  form {
    margin-left: 15px;
    padding-right: 15px;
    height: fit-content;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: thin;

    #image-input-default {
      box-sizing: border-box;
      margin-top: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 200px;
      border: 1px solid #ccc;
      border-radius: 10px;
      background-color: #f8f9fb;
      user-select: none;
      transition: all 0.2s;

      &:hover {
        background-color: #dadada;
        cursor: pointer;
      }
    }

    #image-input-preview {
      box-sizing: border-box;
      margin-top: 15px;
      padding: 10px;
      position: relative;
      width: 100%;
      height: fit-content;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 10px;
      user-select: none;

      &:hover #image-input-preview--overlay {
        display: block;
      }

      &--overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
        display: none;
        z-index: 2;
      }

      &--img {
        z-index: 1;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &--change-image-button {
        position: absolute;
        top: 10px;
        left: 10px;
        background-color: #fff;
        text-transform: none;
      }

      &--close-button {
        z-index: 3;
        position: absolute;
        top: 10px;
        right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        color: #6a7079;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        pointer-events: auto;
        cursor: pointer;
      }
    }
  }

  &--button {
    margin: 15px 23px 20px 15px;
  }
}

@keyframes scaleIn {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}
@keyframes scaleOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
